{% load staticfiles %}
<html lang="en">


<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <title>{%block title%}PDX Electronx{%endblock%}</title>

    <link rel='jquery' href="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.js">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../static/blog_post/css/style.css">
</head>




<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">

         <div class="cover-container">
             <div class ="masthead-clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Electronix</h3>
                    <nav>
                        <ul class="nav nav-pills">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Blog posts past</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </nav>

                </div>
             </div>
             <div class="inner cover">
                 <h1 class="cover-heading">You can read all the trending news on all DIY Electronics </h1>
                 <p class="lead">This is a blog about the new things going on in the DIY Electronics field.</p>
                 <p class="lead"> The goal I have in making this page is to create a place to find out the latest news for the DIY Electonics like Arduino, Raspberry Pi and others in the field. I will have a place to discuss these as a community, share projects and ideas</p>
                    </br>
                    <div class="container">{%block content%}{%endblock%}</div>
                    </br>
                 <p class="lead">Lets get covering this page</p>
                 <p class="lead"><a href="#" class="btn btn-lrg btn-default"><p>Learn more about my cool site and me</p></a>This is another lead paragraph in the cover of this page.</p>
             </div>
            </div>

             <div class="mastfoot">
                 <div class="inner">
                     <p>DIY Electonix has used this bootstrap theme thanks to<a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
                 </div>
             </div>
         </div>
    </div>
</div>


</body>
</html>