<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}PDX Electronx{%endblock%}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapdcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/static.css">
</head>
<body>
<!--<div class="user">-->
    <!--<div class="login">-->
         <!-- -->
    <!--</div>-->
<!--</div>-->

<h1>{%block header%}This is a static HTML PAGE{%endblock%}</h1>
<div class="outer">{%block content%}{%endblock%}</div>

</body>
</html>