{% load staticfiles %}
<!--This tag is looking for CSS -->
{#electronix_pdx/Templates/blog_updates/base.html#}

<html lang="en">

<head>




    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/Templates/blog_updates/Galleria/galleria-1.4.2.min.js/"></script>

{#    <link rel='jquery' href="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.js">#}
{#        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>#}

    <style>.galleria{ width: 700px; height: 400px; background: #000 }</style>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" type="text/css" href= "{% static 'styles.css' %}">

{#    <link rel="stylesheet" href="static/styles.css">#}

    <link href='https://fonts.googleapis.com/css?family=Macondo+Swash+Caps' rel='stylesheet' type='text/css'>

    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    <title>DIY_Electronx Blog Spot</title>
</head>
<body>

<div class="container ">
{% block title %}<h1>DIY_Electronix Blog Spot</h1>{% endblock %}
     <div class="page-header">
<nav>
    <ul class="nav nav-pills">
        <li class="active"><a href="/homepage/"><h2>Home</h2></a></li>
        <li><a href="/"><h2>All posts</h2></a></li>
        <li><a href="/about/"><h2>About DIY_Electronix</h2></a></li>
    </ul>
</nav>

<div class="galleria">
    <img src="/Images/photoArduino.jpg" data-title="Arduino board" data-description="Arduino board">
    <img src="/Images/photoEdison.png" data-title="Edison board" data-description="Edison board">
    <img src="/Images/photoGalileo.png" data-title="Galileo Board" data-description="Galileo Board">
    <img src="/Images/photoRaspberry.jpg" data-title="Raspberry border" data-description="Raspberry Board">
</div>

<script>
    Galleria.loadTheme('galleria/themes/classic/galleria.classic.min.js');
    Galleria.run('.galleria');
</script>
   {% if user.is_authenticated %}
        <a href="{% url 'new_blog_post' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <a href="{% url 'blogpost_draft' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span> </a>




             <h3 class="top-menu">Hello  {{ user.username }}  <large>  (<a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>)</large></h3>
{#       adding Jquery Galleria to this page, using the beginers guide 11-15-15#}
           {% else %}
        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
{#        <h1><a href="{% url 'blogposts_all' %}">Black Lands</a></h1>#}
{#    </div>#}
{#    <div class="content ">#}
{#         <div class="inner content">#}
{#          <h1 class="cover-heading">You can read all the trending news on all DIY Electronics </h1>#}
{#               <p class="lead">This is a blog about the new things going on in the DIY Electronics field.</p>#}
{#             <p class="lead"> The goal I have in making this page is to create a place to find out the latest news for the DIY Electronics like Arduino, Raspberry Pi and others in the field. I will have a place to discuss these as a community, share projects and ideas</p>#}
{##}
{#             <p class="lead">Lets get covering this page</p>#}
{#             <p class="lead"><a href="#" class="btn btn-lrg btn-default">Learn more about my cool site and me</a>This is another lead paragraph in the cover of this page.</p>#}
{#             #}
{#         </div>#}
     </div>


<script>
    if (Galleria) { $("body").text('Galleria works') }
</script>

{% block content %}
<script>
    if (Galleria) { $("body").text('Galleria works') }
</script>
{% endblock %}
</div>
</body>
</html>