{% extends 'blog_updates/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="post">

{% if post.posted_date %}
    <div class="data">
    {{ post.posted_date }}
    </div>

{% endif %}
   {% if user.is_authenticated %}


<a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
<a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
{% endif %}
    <h1>{{ post.title }}</h1>
<p>{{ post.main_text|linebreaks }}</p>

</div>

{% endblock %}