body {
    background-color: white;
    padding: 10%;
    margin: 10mm;
    font-family: serif;
    font-size: medium;
    color: darkgreen;
}

html{
    padding: 15%;
    margin: 10%;
}
.outer {
    border: 2px sandybrown solid;
    background-color: seashell;
    border-radius: 20px;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5%;
    padding: 20px;
    font-size: 20px;
}

.container{
    align-content:left;
    margin: 5%%;

}

.grey {
    background-color: lightgray;
}

.white {
    background-color: white;
}

h1 {
    text-align: center;
}
h3{
    text-align: center;
}

.helptext {
    font-size: 75%;
    font-style: italic;
    display: block;
}

.errorlist {
    font-size: 75%;
    list-style: none;
    margin: 0px;
}

form p {
    margin-top: 0px;
}

form ul li {
    list-style: none;
}

option {
    font-size: 15px;
}